 @media print {
  /*@media all {*/
  .terminal-window {
    text-align: left;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow:visible;
  }

  .terminal{
    display: block !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
  }
  .vargasTip {
    display: none;
  }
  /* Print Colors */
  .terminal-window .titleBar .button.green {
    display: none;
  }
  .terminal-window .titleBar .button.yellow {
    display: none;
  }
  .terminal-window .titleBar .button.red {
    display: none;
  }

  .terminal-window .gray { 
    color: gray;
    print-color-adjust: exact; 
  }
  .terminal-window .green { 
    color: green;
    print-color-adjust: exact; 
  }
  .terminal-window .yellow { 
    color: rgb(231, 231, 33);
    print-color-adjust: exact; 
  }
  .terminal-window .red { 
    color: rgb(255, 116, 116);
    print-color-adjust: exact; 
  }
  .terminal-window .purple { 
    color: purple;
    print-color-adjust: exact; 
  }
  .terminal-window .blue { 
    color: rgb(90, 90, 255);
    print-color-adjust: exact; 
  }
  .terminal-window a { 
    color: rgb(111, 111, 255);
    print-color-adjust: exact; 
  }
}
@media screen {
  .terminal-window {
    text-align: left;
    width: 97vw;
    height: 96vh;
    border-radius: 10px;
    margin: auto;
    position: relative;
    -webkit-box-shadow: 17px 14px 40px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 17px 14px 40px -3px rgba(0,0,0,0.62);
    box-shadow: 17px 14px 40px -3px rgba(0,0,0,0.62);
  }
}
body {
  background: #6D7074;
}
/* __Terminal Window__ */
/* Terminal Input */
.terminal-window input:focus {
  outline: none; /* Remove default focus outline */
  border: none;  /* Remove border on focus */
}
.terminal-window input {
  background: none;
  border: none;
  color: white;
  font: inherit;
  width: 85%; 
}

/* Title Bar */
.terminal-window .titleBar { 
  text-align: center;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
}
.terminal-window .titleBar {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.terminal-window .titleBar .button {
  width: 12px;
  height: 12px;
  /* display: inline-block; */
  margin-right: 8px;
  border-radius: 8px;
}
.terminal-window .titleBar .button.green {
  background: #3BB662;
}
.terminal-window .titleBar .button.yellow {
  background: #E5C30F;
}
.terminal-window .titleBar .button.red {
  background: #E75448;
}
.terminal-window .titleBar .title {
  flex-grow: 1;
  text-align: center;
}

/* Terminal Console */
.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #15181c ;
  background-image:url('bg.gif');
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-attachment: local;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}
.terminal-window .yellow { color: rgb(231, 231, 33);}
.terminal-window .red { color: rgb(255, 116, 116);}
.terminal-window .purple { color: purple;}
.terminal-window .blue { color: rgb(90, 90, 255);}
.terminal-window a { color: rgb(111, 111, 255);}
.terminal-window a:hover img {
  filter: brightness(1.2);
}

/* CV FORMAT - START */
.terminal-window .chapter { 
  font-weight: bold;
  font-size: 16pt;
}
.terminal-window .title { 
  font-weight: bold;
  font-size: 13pt;
}
.terminal-window .tiny { 
  font-size: 9pt;
}

/* - USAGE */
.usage_label {
  text-align: left;
  min-width: 100px; /* Adjust as needed */
  margin-right: 5px; /* Adjust as needed */
}

/* - ID */
.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 5px; /* Adjust as needed */
}

.id_label {
  font-style: italic;
  text-align: right;
  min-width: 75px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}
.label_description {
  flex-grow: 1;
}

.id_img{
  max-width: 23px;
}

/* - SKILLS */
.skills_row {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 0.2em;
}

.skills_category, .skills_level {
  box-sizing: border-box; /* Include padding and border in the total width and height */
  border-collapse: collapse;
  border: none;
}

.skills_category{
  min-width: 120px;
  text-align: right;
  margin-right: 1em; /* Adjust the right margin as needed */
}

.skills_level {
  min-width: 60px;
  text-align: left;
}

/* - ACADEMIC */
.certificate_label{
  font-style: italic;
  text-align: right;
  min-width: 90px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}
/* - PRO */
.pro_img{
  max-width: 30px;
}
.pro_label {
  font-style: italic;
  text-align: right;
  min-width: 100px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}

/* - PORTFOLIO */
.project-context{  margin-left: 2.4em; }
.project-context-indent{ margin-left: 4em; }

.portfolio_label {
  font-style: italic;
  text-align: right;
  min-width: 138px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}

.terminal-window .desota_repos {
  margin-left: auto; 
  margin-right: auto; 
  font-size: 10pt;
  /* margin-left: 134px; */
}.terminal-window .desota_repos td, th  {
  border: 1px solid #898b8f;
}

/* - CONTACT */
.contact_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contact_table th, .contact_table td {
  padding: 4px;
  text-align: left;
}

.profile_pic {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.contact_table img {
  max-width: 160px;
  vertical-align: middle;
  margin-right: 5px;
}
/* CV FORMAT - END */


.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    display: none;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*Tables*/
.terminal-window table {
  margin-top: 8px;
  border-collapse: collapse;
  width: auto;
}
.terminal-window th {
  font-weight: bold;
  font-style: italic;
}
.terminal-window td, th {
  border: none;
  text-align: left;
  padding: 8px;
}
.terminal-window tr:nth-child(even) {
  background-color: #15181c;
}